html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

h3 {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(40, 40, 136, 0.9);
}

.container {
  margin: 6.7vmax 0;
  display: grid;
  grid-template-columns: 1fr [center-start] max-content [center-end] 1fr;
  grid-template-rows: repeat(auto-fit, max-content);
  gap: 6.7vmax 2vmin;
}

.painting {
  grid-column: center-start / center-end;
  display: flex;
  margin: auto;
}

img {
  position: relative;
  max-height: 78vh;
  max-width: 78vw;
  display: block;
}

img.frame {
  position: relative;
  border-image: url("../images/frame.png") 101 87 92 86;
  border-color: #f4be52;
  border-style: inset;
  border-width: 1rem;
  -moz-box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.5),
    0px 2px 5px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.5),
    0px 2px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.5),
    0px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

/*start links*/

/* unvisited link */
a:link {
  text-decoration: none;
  color: rgb(95, 95, 95);
}

/* visited link */
a:visited {
  color: rgb(95, 95, 95);
}

/* mouse over link */
a:hover {
  color: orangered;
}

/* selected link */
a:active {
  color: blue;
}

/*end links*/

/*start media queries*/
@media screen and (max-width: 650px) {
  img.frame {
    border-width: 0.5rem;
  }
}

@media screen and (orientation: landscape) {
  img {
    max-height: 78vh;
    max-width: 78vw;
  }
  .container {
    margin: 6.7vmin 0;
    gap: 6.7vmin 2vmin;
  }
}
/*end media queries*/

/*start scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 0, 0.5);
  border: 1px solid rgba(255, 255, 0.75);
  border-radius: 2px;
  width: 9x;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0.4);
  border: 1px solid rgba(255, 0, 0, 0.65);
  border-radius: 2px;
  width: 9x;

}

/*end scrollbar*/
