html,
body {
  margin: 0;
  padding: 0;
}

* {
  --logo-color: #003b5c;
  --frame-width: 7px;
}

body {
  position: relative;
  height: 100%;
  max-width: 100vw;
  background-color: rgb(245, 245, 245);
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  position: relative;
  display: flex;
  height: 56px;
  background-color: rgb(238, 238, 238);
  box-shadow: inset 0px -20px 20px -20px rgb(200, 200, 200);
  -moz-box-shadow: inset 0px -20px 20px -20px rgb(200, 200, 200);
  -webkit-box-shadow: inset 0px -20px 20px -20px rgb(200, 200, 200);
  justify-content: start;
}

.header-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  margin-left: 25px;
}

.logo {
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: rgb(65, 65, 115, 0.2);
  position: relative;
  height: 28px;
  width: 28px;
  background-color: rgb(255, 255, 255);
}

.inside-logo {
  position: relative;
  display: block;
  top: 9%;
  left: 23%;
  height: 67%;
  width: 67%;
  background-color: var(--logo-color);
  -moz-transform: rotate(11deg);
  -webkit-transform: rotate(11deg);
  -o-transform: rotate(11deg);
  -ms-transform: rotate(11deg);
  transform: rotate(11deg);
}

.header-logo h1 {
  position: relative;
  margin: 0;
  padding: 5px 0 5px 5px;
  font-weight: 300;
  font-size: 17px;
  color: var(--logo-color);
  text-transform: uppercase;
}

#menuToggle {
  display: block;
  position: absolute;
  height: 22px;
  top: 50%;
  margin-top: -11px;
  right: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}


#menuToggle input {
  display: block;
  width: 32px;
  height: 22px;
  position: absolute;
  margin: auto;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: rgb(180, 180, 180);
  border-radius: 1px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(43deg) translate(5px, -3px);
  background: rgb(255, 184, 28);
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-43deg) translate(3px, 5px);
}

#menu {
  visibility: hidden;
  opacity:0;
  position: absolute;
  margin: 0;
  padding: 0;
  top:35px;
  right: -25px;
  width: 200px;
  border-radius: 2px;
  background: rgba(230,230,230, 0.9);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transition: visibility 0s, opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px;
  font-size: 1rem;
}

#menuToggle input:checked ~ ul {
  visibility: visible;
  opacity:1;
}

.btn-nightMode {
  background-color: rgb(200,200,200); /* Green */
  border: none;
  padding: 5px 5px;
  color: var(--logo-color);
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  line-height: 20px;
}

strong {
  font-weight: bold;
}

.container {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr [center-start] max-content [center-end] 1fr;
  grid-template-rows: repeat(auto-fit, max-content);
  gap: 24px 5px;
}

.post {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  margin: auto;
}

hr {
  margin: 0;
  border: 0;
  border-top: 1px solid rgb(238, 238, 238);
  width: calc (100% - 2px);
  margin-bottom: 5px;
}

.date {
  margin: 0;
  font-size: 0.7rem;
  font-weight: normal;
  text-align: left;
  margin-left: var(--frame-width);
  margin-bottom: 5px;
  color: rgb(50, 50, 50);
}

.painting {
  position: relative;
  display: block;
  max-height: 85vh;
  max-width: 85vw;
  border-width: var(--frame-width);
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(238, 238, 238);
  box-shadow: 0px 1px 4px 1px rgb(180, 180, 180);
  -moz-box-shadow: 0px 1px 4px 1px rgb(180, 180, 180);
  -webkit-box-shadow: 0px 1px 4px 1px rgb(180, 180, 180);
}

.info {
  margin: auto;
  margin-top: 10px;
  color: rgb(34, 34, 34);
  background-color: rgb(238, 238, 238);
  padding: 7px;
  border-radius: 4px;
  text-align: start;
  border-width: 1px;
  border-color: rgb(232, 232, 232);
  border-style: solid;
}

.info h4 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
}

.info h5 {
  margin: 0;
  font-size: 0.75rem;
  font-weight: normal;
  padding-bottom: 7px;
}

.info-icons {
  text-align: center;
}

.fas ,.fab {
  padding: 5px;
  font-size: 20px;
}

footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(238, 238, 238);
  margin-top: 20px;
  height: 56px;
  justify-content: start;
}

footer > div {
  position: absolute;
  margin: auto;
}

.feedback {
  position: absolute;
  color: #2a2d33;
  font-size: 0.8rem;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  margin-left: 25px;
}

.feedback p {
  margin: 0;
  line-height: 20px;
}

.back-to-top {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 2rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #d6e3f0;
  top: 50%;
  margin-top: -1rem;
  right: 25px;
}

/*start links*/
a:link {
  text-decoration: none;
  color: rgb(95, 95, 95);
}

a:visited {
  color: rgb(95, 95, 95);
}

a:hover {
  color: rgb(22, 22, 63);
}

a:active {
  color: blue;
}
/*end links*/


.night-mode {
  background-color: #1e1e27;
}

.night-mode header {
  background-color: #181725;
  box-shadow: inset 0px -20px 20px -20px #121221;
  -moz-box-shadow: inset 0px -20px 20px -20px #121221;
  -webkit-box-shadow: inset 0px -20px 20px -20px #121221;
}

.night-mode .logo {
  border-color: rgba(255, 183, 28, 0.2);
  background-color: var(--logo-color);
}

.night-mode .inside-logo {
  background-color: #bbaf9e;
}

.night-mode .header-logo h1 {
  color: #bbaf9e;
}

.night-mode #menuToggle span {
  background: #373643;
}

.night-mode #menu {
  background: rgba(25, 24, 37, 0.9);
}

.night-mode hr {
  border-color: #212030;
}


.night-mode .date {
  color: #bbaf9e;
}

.night-mode .painting {
  border-color: #60574a;
  box-shadow: 0px 1px 4px 1px #131121;
  -moz-box-shadow: 0px 1px 4px 1px #131121;
  -webkit-box-shadow: 0px 1px 4px 1px #131121;
}

.night-mode .info {
  color: #bbaf9e;
  background-color: #373643;
  border-color: #212030;
}

.night-mode footer {
  background-color: #181725;
}


.night-mode .feedback {
  color: #bbaf9e;
}

.night-mode .back-to-top {
  background-color: #373643;
}

.night-mode .back-to-top a:link, .night-mode .back-to-top a:visited  {
  color: #bbaf9e;
}

.night-mode a:link {
  text-decoration: none;
  color: #bbaf9e;
}

.night-mode a:visited {
  color: #bbaf9e;
}

.night-mode a:hover {
  color: #60574a;
}

.night-mode a:active {
  color:#60574a;
}


/*start media queries*/
@media screen and (min-width: 700px) {
  .painting {
    max-height: 70vh;
    max-width: 70vw;
  }

  * {
    --frame-width: 10px;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}
/*end media queries*/

/*start scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(40, 40, 100, 0.2);
  border: 1px solid rgba(40, 40, 100, 0.45);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(40, 40, 100, 0.4);
  border: 1px solid rgba(40, 40, 100, 0.65);
  border-radius: 2px;
}
/*end scrollbar*/
